
body{
    background-color:#F0F4EF;
    color: #426A5A;
    height: 100%;
    width: 100%;
}
.top-box{
    border-radius: 18px;
}
.logo{
    border-radius: 100px;

}

#navbar{
    display: flex;
    background-color: #BFCC94;
    flex-direction: column;
    border-radius: 18px;
}
.link{
    color:  #426A5A;
}
nav > ul{
    display: flex;
    justify-content: space-around;
    
    
}
nav > ul > li > a:active{
    color: #426A5A;
}
h1{
    background-color: #B4CDED;
    border-radius: 18px;
    text-align: center;
}
#navbar > li{
    background-color: #B4CDED;
    border-radius: 18px;
}
ul{
    list-style: none;
}

.trans, .tag, .merchant, .new-merchant, .new-tag{
    background-color: #BFCC94;
    color: #344966;
    border-radius: 18px;
    padding: 10px;
    margin: 20px;
    width:45%;
    margin-left:300px;
    text-align: center;
}
.new > a{
    background-color: #B4CDED;
    padding: 5px;
    border-radius: 18px;
    color: #426A5A;
    text-align: center;
}
.total{
    font-size: 225%;
}
.tag > ul > li > a{
    color:#426A5A;
}
.merchant > ul > li > a{
    color: #426A5A;
}
button{
    color: #B4CDED;
    background-color: #426A5A;
    text-align: center;
    border-radius: 18px;
}
.tag > a{
    color: #B4CDED;
    background-color: #426A5A;
    text-align: center;
    border-radius: 18px;
}