
@media (max-width: 600px){
    img{
        justify-content: center;

    }
}
body{
    background-color:#454851;
    color: #FCEFF9;
    height: 97%;
    width: 97%;
    font-family: 'Actor';font-size: 18px;
}
.top-box{
    border-radius: 18px;
}
.fa-home{
    border-radius: 100px;
    color: #FCEFF9;
}
.fa-money-bill-wave{
    color: #7BAE7F;
}
#navbar{
    background-color: #FCEFF9;
    flex-direction: column;
    border-radius: 18px;
}


.link{
    color:  #049a8f;
}
nav > ul{
    display: flex;
    justify-content: space-around;
    
    
}
nav > ul > li > a:active{
    color: #049a8f;
}
h1{
    background-color: #049A8F;
    border-radius: 18px;
    text-align: center;
}
#navbar > li{
    background-color: #049A8F;
    border-radius: 18px;
}
ul{
    list-style: none;
}

.trans, .tag, .merchant, .new-merchant, .new-tag{
    background-color: #FCEFF9;
    color: #049A8F;
    border-radius: 18px;
    padding: 10px;
    margin: 10px;
    width: 85%;
    text-align: center;
}
.new > a{
    background-color: #049A8F;
    padding: 5px;
    border-radius: 18px;
    color: #FCEEF9;
    text-align: center;
}
.total{
    font-size: 225%;
}
.tag > ul > li > a{
    color:#049A8F;
}
.merchant > ul > li > a{
    color: #049A8F;
}
button{
    color: #049A8F;
    background-color: #FCEFF9;
    text-align: center;
    border-radius: 18px;
}
.tag > a{
    color: #049A8F;
    background-color: #FCEFF9;
    text-align: center;
    border-radius: 18px;
}