{% extends 'base.html' %}

{% block content %}
<h1>Transactions</h1>

<p>Here are all of your Transactions</p>

{% for transaction in transactions %}
<section class="trans">
    <ul>
        <li>
            {{ transaction.merchant.name }} - {{ transaction.tag.category }}
        </li>
        <li>
            {{ transaction.amount }}
        </li>
        <li>
            {{ transaction.time_stamp.strftime("%c") }}
        </li>
    </ul>

</section>
{% endfor %}
<section class="new">
    <a href="/transactions/new">Log a new Transaction</a>
</section>
<h2>The Total Of All Your Transactions is:</h2>
<div class="total">
    £{{total}}
</div>
{% endblock %}