<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Spending Tracker</title>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a class="logo" href="/"><img src="https://picsum.photos/175/175"></a>
                </li>
                <li>
                    <h1 class="top-box">Spending Tracker</h1>
                </li>
                <li>
                    <a class="box_1" href="/transactions">Transactions</a>
                </li>
                <li>
                    <a class="box_2" href="/tags">Categories</a>
                </li>
                <li>
                    <a class="box_3" href="/merchants">Merchants</a>
                </li>
                <li>
                    <a class="box_4" href="/total">Total Spend</a>
                </li>
            </ul>
        </nav>
        <section id="content">
            {% block content %}


            {% endblock %}
        </section>
    </main>
</body>

</html>