<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/36da704d70.js" crossorigin="anonymous"></script>
    <title>Spending Tracker</title>
</head>

<body>
    <main>
        <div class="container">
            <h1 class="top-box">Spending Tracker <i class="fas fa-chart-line"></i></h1>
            <div class="logo">
                <a href="/"><i class="fas fa-home fa-10x"></i></a>
            </div>
            <nav id="navbar">
                <ul>
                    <li>
                        <a class="link" href="/transactions">Transactions <i class="fas fa-cash-register"></i></a>
                    </li>
                    <li>
                        <a class="link" href="/tags">Categories <i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <li>
                        <a class="link" href="/merchants">Merchants <i class="fas fa-store"></i></a>
                    </li>
                    <!-- <li>
                        <a class="link" href="/total">Total Spend</a>
                    </li> -->
                </ul>
            </nav>
        </div>
        <section id="content">
            {% block content %}


            {% endblock %}
        </section>
    </main>
</body>

</html>